
<br />
<footer class="sitewide-footer greytext">
<center>
<a title="About, Help, Contact" href="/info">info</a>
<div>
&copy; 2018 <a href="{{{home_page}}}"><strong>{{{site_name}}}</strong></a>  - {{{site_description}}}
</div>
</center>
</footer>
</body>
</html>
