<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{pagetitle}}</title>
  <meta charset="utf-8" />
  <meta name="author" content="{{{author}}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:url" content="{{{permalink}}}" />
  <link rel='stylesheet' href="http://fonts.googleapis.com/css?family=Open+Sans:regular,italic,bold,bolditalic"  type="text/css"> 
  <link rel="stylesheet" href="{{{maincss_url}}}" /> 
</head>
<body>

<header>
<nav>
<ul>
<li style="float:right;"><a title="Search" href="/searchform">search</a></li>
<li><a title="Home Page" href="/">home</a></li>
</ul>
</nav>
</header>
