{{> header}}
<main>
<p>
<form action="/dologin" method="post">
<p>
<strong>Nuthatch login</strong><br />
</p>
<p>
<input type="text" class="email" type="email" name="email" maxlength="50"/>
</p>
<p>
<input class="submitbutton" type="submit" value="Login" />
</p>
</form>
</p>
</main>
{{> footer}}
