{{> header}}

<main>


{{#error_exists}}
<p>
<h2>Article Input Error</strong></h2>
{{{errormessage}}}
</p>
{{/error_exists}}


{{#previewingpost}} 

<!----------- Article Start ------------> 

<p>
Previewing post ...
</p>

<article>
<section class="article-body">
<h1>{{{title}}}</h1> 
{{{html}}}
</section>
</article>

<!----------- Article End ------------> 

{{/previewingpost}}


<!-- markup -->

<center>
<form method="post" action="/createpost">
<input type="hidden" name="post_location" value="text_area"> 
<p>
<textarea id="textareaboxpost" name="markup" rows="15" cols="60">{{{markup}}}</textarea>
<br />
<input class="submitbutton" type="submit" name="sb" value="Preview">
 &nbsp; &nbsp;
 <a href="/splitscreen"><small>[ | ]</small></a>
 &nbsp; &nbsp;
<input class="submitbutton" type="submit" name="sb" value="Post">
</p>
</form>
</center>

</main>

{{> footer}}

